.bgBlue{
    background-color: blue;
}
.bgGrey{
    background-color: grey;
}
.white{
    color: white;
}
.size100{
    font-size: 100px;
}
.size50{
    font-size: 50px;
}
.size25{
    font-size: 25px;
}