<div class="card rounded-0">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/Trevor_Edwards_Headshot-2.jpg" class="card-img rounded-0 p-3" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="mb-0"><small>Hello everybody, I'm </small></p>
                <h5 class="card-title">Trever Edwards</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><img width="3%" src="./assets/calendar.png">    January 4, 1998</p>
                <p class="card-text"><img width="3%" src="./assets/phone.png">    1(209)747-5586</p>
                <p class="card-text"><img width="3%" src="./assets/email.png">    trever.edwards1218@gmail.com</p>
                <a href='https://github.com/Tedward12/Codestack' target="_blank" class="card-text"><img width="3%" src="./assets/github.png">    https://github.com/Tedward12/Codestack</a>
            </div>
        </div>
    </div>
</div>
