<div class="div bgOrange whiteTxt pokemon">
    <img routerLink="/search" routerLinkActive="active" class="ml-3 mb-3 mt-5" src="assets/images/search.png" height="40px">
    <p routerLink="/home" routerLinkActive="active" class="ml-3">Home</p>
    <p routerLink="/deals" routerLinkActive="active" class="ml-3">Deals</p>
    <p routerLink="/pokeballs" routerLinkActive="active" class="ml-3">Pokeballs</p>
    <p routerLink="/apricorns" routerLinkActive="active" class="ml-3">Apricorns</p>
    <p routerLink="/healing-items" routerLinkActive="active" class="ml-3">Healing Items</p>
    <p routerLink="/vitamin" routerLinkActive="active" class="ml-3">Vitamins</p>
    <p routerLink="/x-items" routerLinkActive="active" class="ml-3">X Items</p>
    <p routerLink="/misc-items" routerLinkActive="active" class="ml-3">Misc Items</p>
    <p routerLink="/profile" routerLinkActive="active" class="ml-3">Profile</p>
</div>