<div class="div bgOrange whiteTxt pokemon">
    <strong routerLink="/home" routerLinkActive="active"><p class="ml-3 mt-5">Home</p></strong>
    <strong routerLink="/pokeballs" routerLinkActive="active"><p class="ml-3">Pokeballs</p></strong>
    <strong routerLink="/apricorns" routerLinkActive="active"><p class="ml-3">Apricorns</p></strong>
    <strong routerLink="/healing-items" routerLinkActive="active"><p class="ml-3">Healing Items</p></strong>
    <strong routerLink="/vitamin" routerLinkActive="active"><p class="ml-3">Vitamins</p></strong>
    <strong routerLink="/x-items" routerLinkActive="active"><p class="ml-3">X Items</p></strong>
    <strong routerLink="/misc-items" routerLinkActive="active"><p class="ml-3">Misc Items</p></strong>
    <strong routerLink="/profile" routerLinkActive="active"><p class="ml-3">Profile</p></strong>
</div>