.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.background{
    background-image: url(/assets/camaroBackground.jpg);
    position: absolute;
    height: 93.7vh;
    background-size: cover;
}