<h1><strong class="pokemon ml-5">Login</strong></h1>
<div class="container mt-6">
    <div class="row">
        <div class="col-2"></div>
        <div class="col pokemon">
            <div class="ui-inputgroup d-flex column justify-content-center mb-3">
                <p class="mb-0">Username</p>
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Name123">
            </div>
            <div class="ui-inputgroup  d-flex column justify-content-center">
                <p class="mb-0">Password</p>
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="password" pPassword pInputText placeholder="password123">
            </div>
            <div class="div inRow size10">
                <p>No account?</p><a>Sign up</a><p>here!</p>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
        <div class="col-2"></div>
    </div>
</div>