<div class="row">
    <div class="col-1"></div>
    <div class="col-lg-5 col-12">
        <a routerLink='/home'><img src="../assets/images/MuzzlesLogo.png"  alt="dog picture"></a>
    </div>
    <div class="col-lg-5 col-12">
        <div class="d-flex justify-content-end fugaz-one size20 mt-4">
            <a class="maroonTxt" routerLink="/about">About</a>
            <a class="maroonTxt ml50" routerLink="/menu">Menu</a>
            <a class="maroonTxt ml50" routerLink="/catering">Catering</a>
            <a class="maroonTxt ml50" routerLink="/photos">Photos</a>
        </div>
    </div>
    <div class="col-1"></div>
</div>