<div class="d-flex inRow">
        <h1><strong class="pokemon ml-5">Pokeballs</strong></h1>
        <img routerLink="/cart" routerLinkActive="active" class="ml-auto cart" height="60px" src="assets/images/cart.png">
    </div>
    <div class="container-fluid pokemon">
        <p-scrollPanel [style]="{width: '100%', height: '90vh'}">
            <div class="row mt-5">
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/pokeBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/greatBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-2" height="75px" src="assets/images/ultraBall.png">
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Pokeball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Great Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Ultra Ball</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$200</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$600</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,200</strong>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/premierBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/luxuryBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/masterBall.png">
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Premier Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Luxury Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Master Ball</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$250</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$3,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$250,000</strong>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-danger"><strong>Out of Stock</strong></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/quickBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img height="75px" src="assets/images/repeatBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="" height="75px" src="assets/images/timerBall.png">
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Quick Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Repeat Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Timer Ball</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,0000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/duskBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/safariBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/nestBall.png">
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Dusk Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Safari Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Nest Ball</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/healBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/netBall.png">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <img class="mt-3" height="75px" src="assets/images/diveBall.png">
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Heal Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Net Ball</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">Dive Ball</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <strong class="size15">$1,000</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
            </div>
            <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img height="100px" src="assets/images/loveBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img height="100px" src="assets/images/friendBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img height="100px" src="assets/images/sportBall.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Love Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Friend Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Sport Ball</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img height="100px" src="assets/images/lureBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img height="100px" src="assets/images/heavyBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="" height="100px" src="assets/images/moonBall.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Lure Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Heavy Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Moon Ball</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/parkBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/fastBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/levelBall.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Park Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Fast Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Level Ball</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$1,000</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/dreamBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/cherishBall.png">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="mt-3" height="100px" src="assets/images/beastBall.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Dream Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Cherish Ball</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">Beast Ball</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$25,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$25,000</strong>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <strong class="size15">$100,000</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                    </div>
                </div>
        </p-scrollPanel>
    </div>