<div class="container-fluid bg-image">
   <app-header></app-header>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 white">
            <h1 class="maroonTxt size50 d-flex justify-content-center fugaz-one mb-0">Photos</h1>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row my-lg-3 mt-3 mx100 arrange">
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images/photo01.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo02.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo03.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo04.jpg"
                alt="dog picture"></div>
    </div>
    <div class="row my-lg-3 mx100 arrange">
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo05.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo06.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo07.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo08.jpg"
                alt="dog picture"></div>
    </div>
    <div class="row my-lg-3 mb-3 mx100 arrange">
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo09.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo10.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo11.jpg"
                alt="dog picture"></div>
        <div class="col-lg-3 col-12"><img class="whiteBorder" height="100%" width="100%" src="../assets/images//photo12.jpg"
                alt="dog picture"></div>
    </div>
    <app-footer></app-footer>
</div>