.background{
    background-image: url(../assets/epic-seven-background.jpg);
    height: 100vh;
    background-size: cover;
}

.bgWhite{background-color: white;}
.solid{opacity: 100%;}
.opacity{opacity: 30%;}
.size35{font-size: 35px;}
.mt-50{margin-top: 50px;}
.mt-100{margin-top: 100px;}