.size15{
    font-size: 15px;
}
.oldPrice{
    color: #FF0000;
    text-decoration: line-through;
}
.newPrice{
    color: #00A820;
}
p{
    font-size: 15px;
}
strong{
    font-size: 15px;
}
.btn{
    color: white;
}
h1{
    font-weight: bold;
}