<div class="d-flex inRow">
    <h1 class="pokemon ml-5">Deals</h1>
    <img routerLink="/cart" routerLinkActive="active" class="ml-auto cart" height="60px" src="assets/images/cart.png">
</div>
<div class="container-fluid pokemon">
        <p-scrollPanel [style]="{width: '100%', height: '90vh'}">
            <div class="row mt-5">
                <div *ngFor='let product of products' class="col-4 mb-5">
                    <strong class="card-title text-center d-flex justify-content-center">{{product.pName}}</strong>
                    <div class="d-flex justify-content-center">
                        <img src="{{product.img}}" class="" alt="...">
                    </div>
                    <p class="oldPrice card-text d-flex justify-content-center">{{product.price}}</p>
                    <p class="newPrice card-text d-flex justify-content-center">{{product.dealPrice}}</p>
                    <a class="btn btn-success d-flex justify-content-center"><strong>Add to Cart</strong></a>
                </div>
            </div>
        </p-scrollPanel>
    </div>