<div class="d-flex inRow mb-5">
    <h1><strong class="pokemon ml-5">Profile</strong></h1>
    <img routerLink="/cart" routerLinkActive="active" class="ml-auto cart" height="60px" src="assets/images/cart.png">
</div>
<div class="container pokemon size20">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="inRow mb-3">
                <p>First Name</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
            <div class="inRow mb-3">
                <p>Last Name</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
            <div class="inRow mb-3">
                <p>Edit Password</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
            <div class="inRow mb-3">
                <p>Username</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
            <div class="inRow mb-3">
                <p>Email</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
            <div class="inRow mb-3">
                <p>Shipping Address</p>
                <img src="assets/images/edit.png" height="15px" alt="">
            </div>
        </div>
    </div>
</div>