<div class="d-flex inRow mb-5">
    <h1 class="pokemon ml-5">Cart</h1>
</div>
<div class="container pokemon size20">
    <div class="row">
        <div class="col-2 d-flex justify-content-center"><strong>Item</strong></div>
        <div class="col-3 d-flex justify-content-center"><strong>Quantity</strong></div>
        <div class="col-3 d-flex justify-content-center"><strong>Price</strong></div>
        <div class="col-3 d-flex justify-content-center"><strong>Total</strong></div>
        <div class="col-1"></div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '65vh'}">
        <div *ngFor='let item of itemsInCart' class="row brdr size20">
            <div class="col-2 d-flex justify-content-center"><img class="img-fluid" src="{{item.img}}"></div>
            <div class="col-3 my-3 d-flex justify-content-center">
                <p>{{item.quantity}}</p>
            </div>
            <div class="col-3 my-3 d-flex justify-content-center">
                <p>{{item.price}}</p>
            </div>
            <div class="col-3 my-3 d-flex justify-content-center">
                <p>${{item.quantity*item.numPrice}}</p>
            </div>
            <div (click)='remove(item)' class="col-1 my-3 btn-danger pr-4 button bgRed"><strong>X</strong></div>
        </div>
    </p-scrollPanel>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end">
                <p>Cart Total: ${{total}}</p>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark"><strong>Check Out</strong></button>
            </div>
        </div>
    </div>
</div>