<div class="d-flex inRow">
    <h1><strong class="pokemon ml-5">Apricorns</strong></h1>
    <img routerLink="/cart" routerLinkActive="active" class="ml-auto cart" height="60px" src="assets/images/cart.png">
</div>
<div class="container-fluid pokemon">
    <p-scrollPanel [style]="{width: '100%', height: '90vh'}">
        <div class="row mt-5">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/blackApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/blueApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img class="mt-2" height="100px" src="assets/images/greenApricorn.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Black Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Blue Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Green Apricorn</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/lightBlueApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/redApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/orangeApricorn.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Ligh Blue Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Red Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Orange Apricorn</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/pinkApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/purpleApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img class="" height="100px" src="assets/images/whiteApricorn.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Pink Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Purple Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">White Apricorn</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img class="mt-3" height="100px" src="assets/images/yellowApricorn.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Yellow Apricorn</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$500</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
                <div class="col-4 d-flex justify-content-center">
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                </div>
            </div>
    </p-scrollPanel>
</div>