<div class="py-3">
    <div class="card rounded-0">
        <h5 class="card-title py-2 d-flex justify-content-center m-0">{{projectCard.pName}}</h5>
        <img src="{{projectCard.pImg}}" class="card-img-top rounded-0" alt="...">
        <div class="card-body">
            <p class="card-text"><strong>Languages Used: {{projectCard.pLang}}</strong></p>
            <p class="card-text">{{projectCard.pDesc}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>