<div class="card rounded-0 d-flex align-items-stretch">
    <h5 class="card-title py-2 d-flex justify-content-center m-0">{{projectCard.pName}}</h5>
    <img src="{{projectCard.pImg}}" class="card-img-top rounded-0" alt="...">
    <div class="card-body">
        <p class="card-text"><strong>Languages Used: {{projectCard.pLang}}</strong></p>
        <p class="card-text">{{projectCard.pDesc}}</p>
    </div>
    <a href="{{projectCard.href}}" target="_blank" class="btn btn-dark">Go To Project</a>
</div>