<div class="d-flex inRow">
    <h1><strong class="pokemon ml-5">Misc Items</strong></h1>
    <img routerLink="/cart" routerLinkActive="active" class="ml-auto cart" height="60px" src="assets/images/cart.png">
</div>
<div class="container-fluid pokemon">
    <p-scrollPanel [style]="{width: '100%', height: '90vh'}">
        <div class="row mt-5">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/bike.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/escapeRope.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img class="mt-2" height="100px" src="assets/images/rareCandy.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Bike</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Escape Rope</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Rare Candy</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$1,000,000</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$2,000</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$50,000</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/repel.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/superRepel.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/maxRepel.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Repel</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Super Repel</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Max Repel</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$400</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$700</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$900</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/ether.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/maxEther.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img height="100px" src="assets/images/elixir.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Ether</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Max Ether</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Elixir</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$1,200</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$2,000</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$3,000</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img class="mt-3" height="100px" src="assets/images/maxElixir.png">
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">Max Elixir</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <strong class="size15">$2,000</strong>
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success"><strong>Add to Cart</strong></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
            </div>
        </div>
    </p-scrollPanel>
</div>