<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Corona Virus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Corona Virus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Search For Country</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-card *ngFor="let country of countries">
    <ion-card-header>
      <ion-card-title>{{country.country}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>Cases: {{country.cases}} | Today: {{country.todayCases}} | Active: {{country.active}}<br>
      Deaths: {{country.deaths}} | Today: {{country.todayDeaths}}<br>
      Recovered: {{country.recovered}} | Critical {{country.critical}}</ion-card-content>

  </ion-card>
</ion-content>
