<div class="d-flex inRow">
    <h1 class="pokemon ml-5">Home</h1>
    <img routerLink="/cart" routerLinkActive="active" alt="cart" class="ml-auto cart" height="60px" src="assets/images/cart.png">
</div>
<div class="container-fluid pokemon">
    <div class="inRow center mt-25">
        <h2 routerLink="/login" routerLinkActive="active" class="pokemon button">Sign In</h2>
        <h2 class="pokemon">/</h2>
        <h2 routerLink="/sign-up" routerLinkActive="active" class="pokemon button">Sign Up</h2>
    </div>
    <h2 routerLink="/home" routerLinkActive="active" class="center button mt-25">Browse Items</h2>
    <p class="mb-0">To browse items use the list on the left hand side.</p>
</div>