.background{
    background-image: url("/Portfolio/assets/background.jpg");
    position: absolute;
    background-size: cover;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.bg{
    background-color: grey;
}